.men_navigator {
  display: flex;
  gap: 5px;
  padding: 60px 0px 0px 60px;
}
.men_navigator h2 {
  opacity: 70%;
  text-transform: capitalize;
  font-size: 13px;
  font-family: "poppins-Medium", sans-serif;
}
.mainer {
  padding: 0px 60px;
  margin-top: 5px;
  color: #333;
  font-family: "poppins-Regular", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: capitalize;
  /* display: none; */
}
