.footer_container {
  background: #222;
}
.footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 60px;
  font-family: "poppins-Regular", sans-serif;
}
.footer_sub_grid h2 {
  color: #ddd;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer_sub_grid li {
  margin-bottom: 20px;
  /* line-height: 1.923; */
  font-weight: 300;
  font-size: 14px;
  color: #ddd;
  text-transform: capitalize;
  cursor: pointer;
  opacity: 90%;
}
.footer_sub_grid li > p {
  line-height: 1.799;
  width: 90%;
  /* padding: 0px 0px 0px 10px; */
}
.footer_sub_grid li:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_sub_grid input {
  background: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline: none;
  color: #ddd;
  font-size: 14px;
}
.footer_sub_grid input::placeholder {
  color: #ddd;
  font-size: 15px;
  margin-bottom: 10px;
}
.footer_sub_grid button {
  background: teal;
  color: #ddd;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  font-family: "poppins-Regular", sans-serif;
  font-weight: 700;
  width: fit-content;
  border-radius: 40px;
  cursor: pointer;
  text-transform: uppercase;
}
.icon_lister {
  display: flex;
  gap: 10px;
}
.doom {
  font-size: 20px;
}
.doom:hover {
  color: teal;
}
.payment_methods {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 15px;
}
.copyright {
  color: #ddd;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  font-family: "poppins", sans-serif;
  opacity: 90%;
  padding-bottom: 40px;
}
