.cardert {
  /* padding: 10px 60px; */
}

.card_sm {
  border: 1px solid #e4dede;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card {
  /* display: flex; */
  height: auto;
  overflow: hidden;
}
.card_img img {
  width: 160px;
  height: 40vh;
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.card_sm_divide {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card_details h2 {
  font-family: "poppins-Regular", sans-serif;
  font-size: 20px;
  color: #333;
}

.card_grid_main {
  padding: 30px 60px;

  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
}
.cardert {
  margin-bottom: 20px;
}
.card_second {
  border: 1px solid #bbb5b5;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 3px;
  padding: 10px;
  background-color: #eeebeb;
}
.card_second h2 {
  font-family: "poppins-regular", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 800;
  color: #333;
  margin-bottom: 20px;
}
.card_sm_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_sm_flex h2,
h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 80%;
  font-family: "poppins-regular", sans-serif;
}

.boosa {
}

.btno {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: #222;
  color: #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: capitalize;
}

.dfc p {
  color: #333;
  font-weight: 800;
  font-size: 20px;
  font-family: "poppins-Regular", sans-serif;
}
.dfc_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.ds {
  color: #333;
  opacity: 70%;
  font-size: 25px;
}
.fmk {
  /* width: 200px; */
}

.lp {
  height: 80vh;
  padding: 1px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lp p {
  font-size: 25px;
  margin-bottom: 10px;
  color: #333;
  font-family: "poppins-Regular", sans-serif;
  font-weight: 600;
}
.lp button {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: #222;
  color: #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 14px;
  text-transform: capitalize;
}

/* toastStyles.css */
.remove-item-toast {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
}

.toast-buttons {
  margin-top: 16px;
}

.toast-buttons button {
  margin: 0 8px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.toast-buttons button svg {
  margin-right: 8px;
}

@media screen and (max-width: 1219px) {
  .card_grid_main {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .tun {
    overflow-y: scroll;
    height: 70vh;
  }
}

@media screen and (max-width: 558px) {
  .card_sm {
    display: flex;
    flex-direction: column;
  }
  .card_sm_divide {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .card_img {
    width: 100%;
    object-fit: cover;
  }
  .fttt {
    width: 100%;
  }
  .lp p {
    font-size: 23px;
  }
  .lp button {
    font-size: 14px;
  }
}
